// .app__contact-text {
//     margin: 1rem;
//     width: 40%;
//     p {
//         font-size: 1.5rem;
//         margin: 1rem;
//         text-align: center;
//     }
// }

// form {
//     width: 60%;
//     margin: 2rem;

//     // @media screen and (max-width: 1200px) {
//     //     margin: 10px;
//     // }
// }

// .app__contact-form {
//     display: flex;
//     justify-content: space-between;

//     @media screen and (max-width: 1200px) {
//         flex-direction: column;
//         width: 100%;
//     }
// }

// .form-group {
//     width: 100%;
//     display: flex;
//     justify-content: center;
// }

// label {
//     display: flex;
//     flex-direction: column;
//     font-weight: 500;
// }

// input {
//     padding: 1rem;
//     padding-left: 0;
//     border: none;
//     border-bottom: 1px solid black;
//     outline: none;
//     background-color: var(--primary-color);
//     font-size: 1.1rem;

//     &:placeholder {
//         color: red;
//     }
// }

// input::placeholder {
//     color: var(--gray-color);
//     // color: var(--secondary-color)
// }

// .message {
//     margin: 2rem 0; 

//     label {
//         width: 100%;
//         margin: 0 85px;
//         font-weight: 500;

//         textarea {
//             margin: 1rem 0;
//             padding: 5px;
//             font-size: 1.1rem;
//             color: var(--lightgray-color);
//             border: none;
//             outline: none;
//             background-color: var(--primary-color);
//             border-bottom: 1px solid black;

//         }
//         @media screen and (max-width: 900px) {
//             margin: 0 10px;
//         }
//     }
// }

.app__footer-form {
    width: 60%;
    flex-direction: column;
    margin: 1rem 2rem;

    div {
        width: 100%;
        margin: 0.75rem 0;
        border-radius: 10px;
        cursor: pointer;
        background-color: var(--primary-color);

        transition: all 0.3s ease-in-out;

        input, textarea {
            width: 100%;
            padding: 0.95rem;
            border: none;
            border-radius: 7px;
    
            font-family: var(--font-base);
            color: var(--secondary-color);
            outline: none;
            &:hover {
                box-shadow: 0 0 25px var(--white-color);
            }
        }
    }

    .send {
        padding: 1rem 2rem;
        border-radius: 10px;
        border: none;
        background-color: var(--secondary-color);
        font-weight: 500;
        color: #fff;
        outline: none;
        margin: 2rem 0 0 0;
        font-family: var(--font-base);
        cursor: pointer;
        width: 200px;
        text-align: center;
    
        @media screen and (max-width: 900px) {
            width: 300px;
        }
    }

    textarea {
        height: 170px;     
    }
    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 1rem 0;
    }
}
